.container {
  width: 40%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  border: 1px solid black;
  border-radius: 8px;
  padding: 5px 10px;
  background-color: #ddba3d;
}

.buttonContainer {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}